{% extends "subnav_base.html" %}
{% block subnav %}
<ul class="nav nav-pills nav-stacked">
<li class="{% block timeSeries %}{% endblock %}">
 <a href="/ResultView/timeSeries">时间序列</a>
</li>
<li class="{% block baselineCheck %}{% endblock %}">
 <a href="/ResultView/baselineCheck">基线查看</a>
</li>
<li class="{% block velocities %}{% endblock  %}">
 <a href="/ResultView/velocities">速度场</a>
</li>
<li class="{% block atmosphereZenithDelay %}{% endblock %}">
 <a href="/ResultView/atmosphereZenithDelay">大气天顶延迟</a>
</li>
<li class="{% block resultApx %}{% endblock %}">
 <a href="/ResultView/resultApx">结果精度</a>
</li>
</ul>
{% endblock subnav %}