{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "What Next?" %}{% endblock %}

{% block body %}
    <h1>{% trans "What Next?" %}</h1>
    
    {% if user.is_authenticated %}
        <p>如何开始您在本站的历程:</p>
        
        <dl class="what_next">
            <dt><a href="{% url acct_email %}">验证邮箱地址</a></dt>
            <dd>此后您能获取系统的通知，重置密码，找回密码等等</dd>
            
            {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% else %}
                {% if user.is_staff %}
                    <dt><a href="{% url admin_invite_user %}">邀请别人来使用这个网站</a> [仅限于管理员]</dt>
                    <dd>所以更多人能分享你的快乐.</dd>
                {% endif %}
            {% endifsetting %}
        </dl>
        {% else %}
            {% url acct_login as login_url %}
            
            <p class="what_next">
                {% ifsetting ACCOUNT_OPEN_SIGNUP %}
                    {% url acct_signup as signup_url %}
                    {% blocktrans %}Start by <a href="{{ signup_url }}">注册</a> and <a href="{{ login_url }}">登录</a>.{% endblocktrans %}
                {% else %}
                    {% blocktrans %}Start by <a href="{{ login_url }}">登录</a>.{% endblocktrans %}
                {% endifsetting %}
            </p>
        {% endif %}
{% endblock %}
