{% extends "subnav_base.html" %}
{% block subnav %}
<ul class="nav nav-pills nav-stacked">
  <li class="{% block DataProc%}{% endblock%}">
    <a href="/DataProc" >批量常规处理</a>
  </li>
  <li class="{% block baseline%}{% endblock%}">
    <a href="/DataProc/baseline" >基线处理</a>
  </li>
  <li class="{% block datatrack%}{% endblock%}">
    <a href="/DataProc/datatrack" >事后数据处理</a>
  </li>
  <li class="{% block datatrackrt%}{% endblock%}">
    <a href="/DataProc/datatrackrt" >实时数据处理</a>
  </li>
  <li class="{% block atmosphericDelay%}{% endblock%}">
    <a href="/DataProc/atmosphericDelay" >大气延迟处理</a>
  </li>
</ul>
{% endblock subnav %}