{% extends "subnav_base.html" %}
{% block subnav %}
<ul class="nav nav-pills nav-stacked">
  <li class="{% block strain %} {% endblock%}">
    <a href="/DataAnal/strain">地壳应变状态</a>
  </li>
  <li class="{% block crosssection %} {% endblock%}">
    <a href="/DataAnal/crosssection">速度剖面</a>
  </li>
  <li class="{% block expandrate %} {% endblock%}">
    <a href="/DataAnal/expandrate">区域面膨胀率</a>
  </li>
  <li class="{% block deltaS %} {% endblock%}">
    <a href="/DataAnal/deltaS">应变状态变化</a>
  </li>
  <li class="{% block deltaV %} {% endblock%}">
    <a href="/DataAnal/deltaV">速度场变化</a>
  </li>
</ul>
{% endblock subnav %}