{% extends "subnav.html" %}
{% block subnav %}
<ul class="nav nav-tabs">
  <li>
    <a href="#analysing" data-toggle="tab">数据分析</a>
  </li>
  <li>
    <a href="#crustalStrain" data-toggle="tab">地壳应变状态</a>
  </li>
  <li>
    <a href="#faultActivity" data-toggle="tab">断层活动性</a>
  </li>
  <li>
    <a href="#smallscalePlateMotion" data-toggle="tab">小尺度板块运动</a>
  </li>
  <li>
    <a href="#deltaV" data-toggle="tab">速度场变化分析</a>
  </li>
  <li>
    <a href="#deltaS" data-toggle="tab">应变率变化分析</a>
  </li>
</ul>
{% endblock subnav %}

{% block body %}
<div class="tab-content">
	<div class="tab-pane" id="#analysing">
	</div>
	<div class="tab-pane" id="#crustalStrain">
	</div>
	<div class="tab-pane" id="#faultActivity">
	</div>
	<div class="tab-pane" id="#smallscalePlateMotion">
	</div>
	<div class="tab-pane" id="#deltaV">
	</div>
	<div class="tab-pane" id="#deltaS">
	</div>
</div>
{% endblock body %}