{% extends "site_base.html" %}
{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
        <div class="hero-unit">
			<h1>GPS数据处理分析平台</h1>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;福建省地震局预报中心</p>
			<p></p>
		</div>
        <div class="row_fluid">
            <div class="span6 columns">
            	<img width="320" id = "map" src="/site_media/static/img/map.png">
            </div>
            <div class="span6 columns">
            	<h2> GPS数据处理分析系统简介</h2>
		     	 <p>&nbsp;&nbsp;&nbsp;&nbsp;GPS方法和数据在地震学和地球动力学的研究中起着至关重要的作用。传统的GPS资料在地震预测中的应用一般是给出以年为尺度的地壳运动状态，为地震预报提供中长期的背景资料；近些年来，随着GPS技术的进步和解算技术的发展，高频GPS技术已经能够提供瞬态地表形变资料，从而可以对地震信号本身进行分析和研究。联合GPS和地震学的观测资料，可以大大提高对地震性质的了解和认识。随着台网的加密和高频GPS接收机的应用，到“十一五” 台站正式运行后，GPS台网将向实时提供地壳运动、应变演化等产品。本系统可以快速处理静态和高频GPS数据，利用嵌入的GAMIT软件对GPS的信号进行分析，实时获取地表位移信息。为地震预报日常周会商和应急会商服务，同时在中强地震发生时，作为测震台网的位移计使用，补充测震台网对位移直接记录的不足，可以为了解地震的发震位置，破裂过程以及地表振动和破坏等提供关键的数据补充。</p>
		      <div class = "line"> </div>
            <p font-weight: bold;font-style: Italic;">&nbsp;&nbsp;&nbsp;&nbsp;台站数据最新更新时间：2011年7月20日。
            </p>
            </div>
        </div>
    </div>
{% endblock %}
