{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}
{% block nav %}
<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
		  <div class="container">
       <a  class="brand" href="/">GPS数据处理分析平台</a> 
          <div class="nav-collapse">
            <ul class="nav">
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                  数据信息
                  <b class="caret"></b>
                </a>
                <ul id="SiteInfo" class="dropdown-menu">
                  <li>
                    <a href="/SiteInfo/map">台站分布</a>
                  </li>
                  <li>
                    <a href="/SiteInfo/siteList">台站列表</a>
                  </li>
                  <li>
                    <a href="/SiteInfo/dataManaging">台站质量</a>
                  </li>
                  <li>
                    <a href="/SiteInfo/log">台站信息更新</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="/SiteInfo">台网信息</a>
                  </li>
                </ul>
              </li>
              
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                  数据处理
                  <b class="caret"></b>
                </a>
                <ul id="DataProc" class="dropdown-menu">
                  <li>
                    <a href="/DataProc">批量常规处理</a>
                  </li>
                  <li>
                    <a href="/DataProc/baseline">基线处理</a>
                  </li>
                  <li>
                    <a href="/DataProc/datatrack">事后数据处理</a>
                  </li>
                  <li>
                    <a href="/DataProc/datatrackrt">实时数据处理</a>
                  </li>
                  <li>
                    <a href="/DataProc/atmosphericDelay">大气延迟处理</a>
                  </li>
                  <li>
                    <a href="/DataProc/ionosphere">电离层处理</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="/DataProc">数据处理</a>
                  </li>
                </ul>
              </li>
              
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                  数据分析
                  <b class="caret"></b>
                </a>
                <ul id="DataAnal" class="dropdown-menu">
                  <li>
                    <a href="/DataAnal/strain">地壳应变状态</a>
                  </li>
                  <li>
                    <a href="/DataAnal/crosssection">速度剖面</a>
                  </li>
                  <li>
                    <a href="/DataAnal/expandrate">区域面膨胀率</a>
                  </li>
                  <li>
                    <a href="/DataAnal/deltaS">应变状态变化</a>
                  </li>
                  <li>
                    <a href="/DataAnal/deltaV">速度场变化</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="/DataAnal">数据分析</a>
                  </li>
                </ul>
              </li>
              
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                  结果查看
                  <b class="caret"></b>
                </a>
                <ul id="ResultView" class="dropdown-menu">
                  <li>
                    <a href="/ResultView/timeSeries">时间序列</a>
                  </li>
                  <li>
                    <a href="/ResultView/velocities">速度场</a>
                  </li>
                  <li>
                    <a href="/ResultView/atmosphereZenithDelay">大气天顶延迟</a>
                  </li>
                  <li>
                    <a href="/ResultView/resultApx">结果精度</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="/ResultView">结果查看</a>
                  </li>
                </ul>
              </li>
              
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                  工具包
                  <b class="caret"></b>
                </a>
                <ul id="Toolkit" class="dropdown-menu">
                  <li>
                    <a href="/Toolkit/doy">时间转换</a>
                  </li>
                  <li>
                    <a href="/Toolkit/framework">参考架转换</a>
                  </li>
                  <li>
                    <a href="/Toolkit/dataDownload">数据下载</a>
                  </li>
                </ul>
              </li>
              
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                  友情链接
                  <b class="caret"></b>
                </a>
                <ul id="alias" class="dropdown-menu">
                  <li>
                    <a href="http://www.sopac.org">SOPAC</a>
                  </li>
                  <li>
                    <a href="http://www.usgs.gov">USGS</a>
                  </li>
                  <li>
                    <a href="http://igscb.jpl.nasa.gov">IGS</a>
                  </li>
                  <li>
                    <a href="http://www.cea.gov.cn">中国地震局</a>
                  </li>
                  <li>
                    <a href="http://www.csi.ac.cn">中国地震信息网</a>
                  </li>
                  <li>
                    <a href="http://www.fjea.gov.cn">福建省地震局</a>
                  </li>
                </ul>
              </li>
              
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">帮助
                <b class="caret"></b>
		</a>
                <ul id="help" class="dropdown-menu">
                  <li>
                    <a href="/contactUs">联系我们</a>
                  </li>
                  <li>
                    <a href="/faq">常见问题</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="/help">使用帮助</a>
                  </li>
                </ul>
              </li>
	    {% if user.is_authenticated %}
		  <li class="dropdown">
		      <a class="dropdown-toggle" href="#" data-toggle="dropdown">{{ user }}
		      <b class="caret"></b>
		      </a>
		      <ul class="dropdown-menu">
			  <li><a href="{% url acct_email %}">帐号</a></li>
			  {% if user.is_staff %}
			      <li><a href="/admin/">管理</a></li>
			  {% endif %}
			  <li class="divider"></li>
			  <li><a href="{% url acct_logout %}">注销</a></li>
		      </ul>
		  </li>
	      {% else %}
		  <li><a href="{% url acct_login %}">登陆</a></li>
		  <!--<li><a>or</a></li>
		  <li><a href="{% url acct_signup %}">注册</a></li>-->
	      {% endif %}            
	    </ul>
	  </div>
        </div>
      </div>
    </div>
    </div> 
{% endblock nav %}
{% block footer %}
<div class="legal">
    {% include "_footer.html" %}
</div>
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
