{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}
{% block nav %}
<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse">
            <ul class="nav">
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                  数据信息
                  <b class="caret"></b>
                </a>
                <ul id="siteInfo" class="dropdown-menu">
                  <li>
                    <a href="/siteInfo/map">台站分布</a>
                  </li>
                  <li>
                    <a href="/siteInfo/siteList">台站列表</a>
                  </li>
                  <li>
                    <a href="/siteInfo/dataManaging">台站质量</a>
                  </li>
                  <li>
                    <a href="/siteInfo/log">台站信息更新</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="/siteInfo">台网信息</a>
                  </li>
                </ul>
              </li>
              
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                  数据处理
                  <b class="caret"></b>
                </a>
                <ul id="dataProcessing" class="dropdown-menu">
                  <li>
                    <a href="/dataProcessing">批量常规处理</a>
                  </li>
                  <li>
                    <a href="/dataProcessing/baseline">基线处理</a>
                  </li>
                  <li>
                    <a href="/dataProcessing/datatrack">事后数据处理</a>
                  </li>
                  <li>
                    <a href="/dataProcessing/datatrackrt">实时数据处理</a>
                  </li>
                  <li>
                    <a href="/dataProcessing/atmosphericDelay">大气延迟处理</a>
                  </li>
                  <li>
                    <a href="/dataProcessing/ionosphere">电离层处理</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="/dataProcessing">数据处理</a>
                  </li>
                </ul>
              </li>
              
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                  数据分析
                  <b class="caret"></b>
                </a>
                <ul id="analysing" class="dropdown-menu">
                  <li>
                    <a href="/analysing/crustalStrain">地壳应变状态</a>
                  </li>
                  <li>
                    <a href="/analysing/faultActivity">断层活动性</a>
                  </li>
                  <li>
                    <a href="/analysing/smallscalePlateMotion">小尺度板块运动</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="/analysing">数据分析</a>
                  </li>
                </ul>
              </li>
              
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                  结果查看
                  <b class="caret"></b>
                </a>
                <ul id="resultView" class="dropdown-menu">
                  <li>
                    <a href="/resultView/timeSeries">时间序列</a>
                  </li>
                  <li>
                    <a href="/resultView/velocities">速度场</a>
                  </li>
                  <li>
                    <a href="/resultView/atmosphereZenithDelay">大气天顶延迟</a>
                  </li>
                  <li>
                    <a href="/resultView/resultApx">结果精度</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="/resultView">结果查看</a>
                  </li>
                </ul>
              </li>
              
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                  工具包
                  <b class="caret"></b>
                </a>
                <ul id="toolkits" class="dropdown-menu">
                  <li>
                    <a href="/toolkits/doy">时间转换</a>
                  </li>
                  <li>
                    <a href="/toolkits/framework">参考架转换</a>
                  </li>
                  <li>
                    <a href="/toolkits/dataDownload">数据下载</a>
                  </li>
                </ul>
              </li>
              
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                  友情链接
                  <b class="caret"></b>
                </a>
                <ul id="alias" class="dropdown-menu">
                  <li>
                    <a href="http://www.sopac.org">SOPAC</a>
                  </li>
                  <li>
                    <a href="http://www.usgs.gov">USGS</a>
                  </li>
                  <li>
                    <a href="http://igscb.jpl.nasa.gov">IGS</a>
                  </li>
                  <li>
                    <a href="http://www.cea.gov.cn">中国地震局</a>
                  </li>
                  <li>
                    <a href="http://www.csi.ac.cn">中国地震信息网</a>
                  </li>
                  <li>
                    <a href="http://www.fjea.gov.cn">福建省地震局</a>
                  </li>
                </ul>
              </li>
              
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">帮助</a>
                <b class="caret"></b>
                <ul id="help" class="dropdown-menu">
                  <li>
                    <a href="/contactUs">联系我们</a>
                  </li>
                  <li>
                    <a href="/faq">常见问题</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="/help">使用帮助</a>
                  </li>
                </ul>
              </li>
              {# 
                
                {% if username %}
                <li>
                  <a>
                    欢迎你，{{username}}!
                  </a>
                </li>
                <li>
                <form action="/userLogout/" method="get"> 
                  <button type="submit" class="btn">退出</button>
                </form>
                </li>
                {% else %}
              <li>
              <form class="form-inline" action="/userLogin" method="GET">
              <input type="text" class="input-small" name="username" placeholder="用户名">
              <input type="password" class="input-small" name="userpwd" placeholder="密码">
              <button type="submit" class="btn">登录</button>
              </form>
              </li>
              {% endif %}
              
              {% if error %}
              <li class="">
                <a>用户名或密码错误，请重试</a>
              </li>
              {% endif %} #}
            </ul>
          </div>
        </div>
        </div>
    </div>
    </div>
{% endblock nav %}
{% block footer %}
<div class="legal">
    {% include "_footer.html" %}
</div>
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}